---
import { Image } from "astro:assets";
import type { TestimonialItem } from "@config/types/configDataTypes";

interface Props {
	testimonial: TestimonialItem;
}

const { testimonial } = Astro.props;
---

<div class="swiper-slide">
	<div class="bg-background bg-base-100 dark:bg-base-900 rounded-2xl p-8 backdrop-blur-sm md:p-12">
		<div class="flex h-full flex-col">
			<blockquote class="mb-8 flex-1">
				<p class="description text-lg leading-relaxed">
					"{testimonial.testimonial}"
				</p>
			</blockquote>
			<div class="flex items-center gap-4">
				<div class="h-12 w-12 overflow-hidden rounded-full border">
					<a href={testimonial.link} target="_blank">
					<Image
						src={testimonial.avatar}
						alt={`${testimonial.name}'s avatar`}
						class="h-full w-full object-cover"
						width={60}
					/>
					</a>
				</div>
				<div class="flex flex-col">
					<div class="font-medium"><a href={testimonial.link} target="_blank">{testimonial.name}</a></div>
					<div class="description text-sm">{testimonial.title}</div>
				</div>
			</div>
		</div>
	</div>
</div>
